/* This rule makes everything use border-box sizing which is desireable. With border-box sizing, 
        padding is not added to the width. For example, if you make the footer 100% and it has some padding, 
        you'll see a horizontal because the footer becomes a little wider than 100%                            */
* { 
    box-sizing: border-box;
}

body { 
    margin:0;                   /* no white border around browser window */
    background-color: #3E4241; 
    color: #2CD820;  /* color of font */
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; /* no tail font is more readable for small font */
    font-size:16px; /* light grey - will show through the content area */
}

#titleNav {
    
    position: fixed; 
    width: 100%; /* changing to position fixed, you need to add 100% if you want to fill the width */

    /* the next two rules will layout the title followed by the nav side by side in a row */
    display:flex; 
    flex-direction: column;
    justify-content: space-between; /* flex attribute will push title left and nav right, with "space between" */

    padding: 0.5rem;
    background-color:#1A1C1B;

    padding-bottom: 10px;
    /* give a little "3D"  effect to the edges of titleNav and footer */
    box-shadow: 0px 0px 5px black;  
    
    top:0px;
    left:0px;
    z-index: 1; 
    
    color: #2CD820;
    font-family: serif; 
    font-weight: bold;
}

#title {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem; /* spaces out letters a bit */
    white-space: nowrap;  /* don't allow the title to wrap */
}

#nav {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-right: 1rem;
    white-space: nowrap;  /* don't allow nav links to wrap */
}

#content {
    padding: 1rem;
    padding-top:10rem; /* make sure fixed titleNav does not cover up any content */
    padding-bottom: 2rem; /* make sure fixed footer doesn't cover up any content */
    font-size: 1.15rem;
    line-height: 2rem; 
}

#footer {
    background-color:#1A1C1B;
    color: #2CD820; 

    /* give a little "3D"  effect to the edges of titleNav and footer */
    box-shadow: 0px 0px 5px #888888;  

    padding: 0.5rem;

    font-size: 1rem;
    text-align: center;

    position: fixed;
    bottom: 0px; 
    left: 0px; 
    z-index: 1; /* make sure footer is on top of content which would have default z-index value of 0 */

    width: 100%;    /* fixed elements don't fill out the width automatically, so set the width */	 
}
#logon {
    text-align: center;
}
a:link{
    color: white;
}

a:visited{
    color: lightgray
}

a:hover{
    color: cyan;
}

a:active{
    color: white; 
}

.indent {
    margin-left: 1.5rem;
}

pre {
    margin-bottom:1.5rem;
    margin-right: 2rem;
    margin-left: 1rem;
    line-height:1.25rem;
    font-size: 0.95rem;

    padding:0.5rem;
    padding-left:0rem;
    background-color: #CCCCDD; 

    border-radius: 0.25rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.4);
}
@media only screen and (min-width: 50rem) { 

                /* in desktop the titleNav is not as tall, so less top margin needed to prevent titleNav from hiding top of for content */
                #content {
                    margin-top: 2rem;
                    /*color: red;  /* I added this to debug when the desktop rules kick in */
                }

                #titleNav {
                    /* flex attributes */
                    flex-direction: row;
                    justify-content: space-between; /* flex attribute will push title left and nav right, with "space between" */
                }

                pre {
                    margin-bottom:1.75rem;
                    margin-right: 1rem;
                    margin-left: 2rem;
                    line-height:1rem;

                    padding:1rem;
                    background-color: #EEEEEE; 
                    border-radius: 8px;
                    box-shadow: 2px 2px #AAAAAA;
                }
            }